{% extends 'base.html.twig' %}

{% block title %}New Test{% endblock %}
<div class="col-12 col-md-6 order-md-1 order-last">

                    <p class="text-subtitle text-muted">Liste des tests</p>
                </div>
{% block content %}
    <h1>Create new Test</h1>

    {{ include('test/_form.html.twig') }}

    <a href="{{ path('app_test_index') }}">retour à la liste</a>
{% endblock %}
